{% extends "main.html" %}
{% block content %}
<div class="row divider blue">
	<div class="col-md-12"></div>
</div>
	<div class="row row2">
		<div class="col-md-10 "><h2>Catalog App</h2></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}" class="btn btn-warning top-menu" role="button">Login</a>
		</div>
	</div>

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>

	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>


	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
		</div>
		<div class="col-md-1"></div>
    {% for item in CategoryItem %}
  			<div class="row Catalog-list">
  				<div class="col-md-1"></div>
  					<div class="col-md-10">
  						<h1>{{item.title}}</h1>
							<P>{{item.description}}</P>
  					</div>
  				<div class="col-md-1"></div>
  			</div>
  	{% endfor %}
{% endblock %}
